<div class="row flex-center pt-5 mt-3">
  <div class="col-xl-7 mx-auto">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<h3 class="white-text"><i class="fa fa-space white-text"></i>Edit team</h3>
					<hr>
				</div>
				<% provide(:button_text, 'Update team') %>
				<%= render "form" %>
				<p>Delete team? <%= link_to "Delete", @team, method: :delete,
					data: { confirm: "Are you sure?" } %></p>
			</div>
		</div>
	</div>
</div>
