<div class="row flex-center pt-5 mt-3">
	<div class="col-md-6 col-xl-5 mx-auto">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<h3 class="white-text"><i class="fa fa-space white-text"></i> Edit position</h3>
					<hr>
				</div>
				<% provide(:button_text, 'Update position') %>
				<%= render "form" %>
				<p>Delete position? <%= link_to "Delete", @position, method: :delete,
					data: { confirm: "Are you sure?" } %></p>
			</div>
		</div>
	</div>
</div>
