  <div class="container">
  <div class="table-responsive">
  <div class="card">
     <div class="card-header">Position Profile</div>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td><%= link_to @position.name, edit_position_path(:id => @position.id) %></td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td><%= @position.description %></td>
    </tr>
    <tr>
      <th scope="row">Code</th>
      <td><%= @position.code %></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>