<div class="container" id="edit-form">
<div class="row align-items-center">
  <div class="col-xl-7 mx-auto">
    <div class="card border">
      <div class="card-body">
        <div class="text-center">
          <h3 class="white-text"><i class="fa fa-space white-text"></i>Log in</h3>
        </div>
        <% provide(:button_text, 'Log in') %>
        <%= render "form" %>
        <!-- <#%= render "devise/shared/links" %> -->
      </div>
    </div>
  </div>
</div>
</div>
