<!-- <div class="table-responsive"> -->
  <div class="card">
     <div class="card-header">Players</div>
      <table class="table table-bordered table-striped table-responsive-md index-table" id="player-table" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Number</th>
      <th scope="col">Team</th>
      <th scope="col">Positions</th>
    </tr>
  </thead>
    <tbody>
<% @players.each do | player | %>
    <tr>
      <td><%= link_to player.full_name, player %></td>
      <td><%= player.number %></td>
      <td><%= player.team.nickname %></td>
      <td><%= player.positions.map(&:name).join(', ') %></td>
    </tr>
<% end %>
  </tbody>
</table>
</div>
<!-- </div> -->