html {
    padding: 40px;
}

// add white space below tabs on hompage
.tab-content {
  margin-top: 4rem;
}

//
#player-form {

.card {
  margin-top: 50px;
  margin-bottom: 50px;
  // padding-top: 25px;
  // padding-bottom: 10px;
}

.check_box {
  margin-right: 5px;
}

}
.table {
	margin-bottom: 5px;
}

.container {
	margin-top: 40px;
}

label {
	margin-top: 15px;
}

.pagination {
  padding-top: 5px;
	padding-bottom: 10px;
}

.form-check-label {
  margin-bottom: 15px;
}

// sorting tables
// table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after {
//    padding: 0px;
// }
// .dataTables_wrapper .mdb-select {
//     border: none;
// }
// .dataTables_wrapper .mdb-select.form-control {
//     padding-top: 0;
//     margin-top: -1rem;
//     margin-left: 0.7rem;
//     margin-right: 0.7rem;
//     width: 100px;
// }
// .dataTables_length label {
//     display: flex;
//     justify-content: left;
// }
// .dataTables_filter label {
//     margin-bottom: 0;
// }
// .dataTables_filter label input.form-control {
//     margin-top: -0.6rem;
//     padding-bottom: 0;
// }
// table.dataTable {
//     margin-bottom: 20rem !important;
// }
// div.dataTables_wrapper div.dataTables_info {
//     padding-top: 0;
// }
                
