@import "bootstrap";

html {
  padding: 40px;
}

// add white space below tabs on hompage
.tab-content {
  margin-top: 4rem;
}

//
#player-form {

  .card {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .check_box {
    margin-right: 5px;
  }

}
.table {
	margin-bottom: 5px;
}

.container {
	margin-top: 40px;
}

label {
	margin-top: 15px;
}

.pagination {
  padding-top: 5px;
  padding-bottom: 10px;
}

.form-check-label {
  margin-bottom: 15px;
}

.alert {
  margin-top: 10px;
}

